@media screen and (max-width: 1200px) {
  body {
    background-color: rgb(218, 27, 27);
  }
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.logo {
  background-color: gray;
  height: 40px;
  padding-left: 50px;
  padding-top: 15px;
}

.logo > i {
  color: rgb(218, 27, 27);
  font-size: 30px;
  float: left;
  margin-top: -2.5px;
}

.title {
  float: left;
  color: white;
}

.searh {
  text-align: center;
}

.btn {
  height: 20px;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.btn:hover {
  background: whitesmoke;
}

.icons {
  float: right;
  margin-top: -48px;
  color: rgb(218, 27, 27);
  font-size: 30px;
  margin-right: 15px;
}

.video-comment {
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;
  text-align: left;
}

.video-top {
  padding-left: 30px;
  margin-top: -18px;
  text-align: left;
}
.video-top > i {
  color: brown;
  float: right;
  padding: 0px 10px;
}

.video-co__1 {
  display: flex;
  position: relative;
  padding-left: 450px;
  top: -25px;
  color: blue;
}

.bottom-img {
  padding-left: 30px;
  padding-top: 15px;
}

.bottom-div > span {
  display: flex;
  position: relative;
  margin: 0px;
  padding: 0px;
  left: 100px;
  bottom: 45px;
  color: black;
}

.bottom-comment {
  padding-left: 30px;
}

.bottom-movie > span {
  display: flex;
  position: relative;
  left: 100px;
  bottom: 30px;
}

.div-btn {
  float: right;
  position: relative;
  bottom: 115px;
}

.div-btn > button {
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  white-space: nowrap;
  margin-right: 15px;
  background-color: rgb(218, 27, 27);
  width: 50px;
  height: 30px;
}
